---
import '../styles/global.css';

const { title = 'Estacao Borboleta NGC' } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>
